#main {
  margin-bottom: 1rem;
}

.card {
  background-color: var(--gray-100);
  border-radius: 1rem;
  border: 1px solid var(--gray-300);
}

.column {
  flex-direction: column;
  gap: .5rem;
}

#user {
  height: 5.625rem;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  
  .avatar {
    width: 3.5rem;
    height: 3.5rem;
    background: var(--conic-gradient);
    border-radius: 0.625rem;
  
    img {
      width: 3.25rem;
      height: 3.25rem;
      background-color: var(--pink);
      border-radius: .5rem;
      border: 1.5px solid var(--white);
    
    }
  }
  
  .user-info {
  
    h3 {
       font-size: var(--fs-lg);
       color: var(--gray-600);
       margin-bottom: .25rem;
    }
  
    p {
      font-size: var(--fs-xs);
    }
  }
}

#history {
  padding: 1.25rem 1.25rem 1.25rem 1.5rem;

  .history-header {
    h3 {
      font-size: var(--fs-sm);
      text-transform: uppercase;
    }
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray-200);
  }

  .history-list {
    padding: .75rem 0;
    flex-direction: column;
    gap: .75rem;

    .entry {
      text-decoration: none;
      align-items: center;
  
      .entry-wrapper {
        flex-direction: column;
        width: 100%;
        font-size: var(--fs-sm);

        strong {
          font-weight: var(--fw-bold);
          color: var(--gray-600);
          padding-bottom: 2px;
        }
      }
  
      .entry-icon {
        width: 2rem;
        aspect-ratio: 1 / 1;
        background-color: #DFEADD;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../assets/icons/seal-check.svg);
        background-size: 1.5rem;
      }
  }
  }
}

#card-stamps {
  padding: 1.5rem 1.25rem 1.25rem 1.25rem;
  
  .stamps-info {
    justify-content: space-between;
    margin-bottom: 1.25rem;
    
    .card-stamps-header {
      max-width: 10.75rem;
      
      h3 {
        font-size: var(--fs-xs);
        text-transform: uppercase;
        padding-bottom: .25rem;
      }
      
      p {
        font-size: var(--fs-xs);
      }
    }
  }
  
  .tag {
    height: 1.5rem;
    border-radius: .75rem;
    background-color: var(--gray-300);
    padding: 0 .5rem;
  
    font-size: var(--fs-xs);
    font-weight: var(--fw-bold);
  }
  
  .stamps {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
    
    .slot {
      min-width: 3.5rem;
      min-height: 3.5rem;
      aspect-ratio: 1 / 1;
    
      display: block;
      
      background-color: var(--gray-200);
      background-repeat: no-repeat;
      background-position: center;
    
      border-radius: .75rem;
    
      cursor: pointer;
    
      &.checked {
        background-image: url(../assets/PinCheck.png);
        background-size: 2.5rem;
      }
    
      &.last {
        background-image: url(../assets/icons/gift-solid.svg);
        background-size: 1.5rem;
    
        &.checked {
          background-image: url(../assets/PinGift.png);
          background-size: 2.5rem;
        }
      }
    }
  }
}

#progress {
  padding: 1rem 1.5rem;
  gap: 1.5rem;

  .progress-info {
    width: 100%;
    h3 {
      font-weight: var(--fw-base);
      font-size: var(--fs-sm);
      margin-bottom: .25rem;

      strong {
        color: var(--gray-600);
        font-size: var(--fs-lg);
        font-weight: var(--fw-bold);
      }
    }

    .progress-wrapper {
      gap: 12px;
      align-items: center;

      .progress-bar {
        width: 100%;
        height: .5rem;
        background-color: var(--gray-300);
        border-radius: 4px;

        .progress-fill {
          width: 70%;
          height: .5rem;
          background: var(--gradient-base);
          border-radius: 4px;
        }
      }

      p {
        min-width: 2.5rem;
        font-size: var(--fs-xs)
      }
    }
  }

  #gift-icon {
    height: 3.5rem;
    aspect-ratio: 1 / 1;
    background-color: var(--gray-200);
    border-radius: 50%;

    display: block;
      
    background-repeat: no-repeat;
    background-position: center;

    background-image: url(../assets/PinGift.png);
    background-size: 2.5rem;
  }
}


@media (width >= 57em) {
  .cards {
    grid-template-columns: 1fr 1.775fr;
  }

  .column {
    flex-direction: column;
    gap: 1rem;
  }

  #history {
    padding: .5rem;
    .history-wrapper {
      padding: 1rem 1rem 1.25rem 1.25rem;
      max-height: 22.25rem;
      overflow-y: scroll;
    }
  }

  #card-stamps {
    padding: 2.25rem 2rem 2rem 2rem;
    
    .stamps-info {
      margin-bottom: 2rem;
      
      .card-stamps-header {
        max-width: unset;
        
          p {
            font-size: var(--fs-sm);
          }
      }
    }
    
    .tag {
      height: 2rem;
      border-radius: 1rem;
      padding: 0 .75rem;
    
      font-size: var(--fs-md);
    }
    
    .stamps{
      .slot {
        &.checked {
          background-size: 4rem;
        }
        &.last {
          background-size: 2.5rem;
          &.checked {
            background-size: 4rem;
          }
        }
      }
      }
  }

  #progress {
    padding: 1.5rem 2rem;

    .progress-info {
      h3 {
        font-size: var(--fs-md);
        strong {
          font-size: var(--fs-xl);
        }
      }
    }

    #gift-icon {
      height: 4.5rem;
      background-size: 4rem;
    }
  }
}